.item-show{
    padding: 60px 0;
}

.item-show__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.item-show__image-box{
    margin-top: 45px;
    width: 50%;
    max-width: 550px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.item-show__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-show__content{
    flex-grow: 1;
    max-width: 550px;
}

.item-show__name{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
}

.item-show__brand{
    margin-top: 0;
    font-size: 14px
}

.item-show__price{
    font-size: 32px;
    margin: 0 0 15px;
    display: flex;
    align-items: baseline;
}

.item-show__price .currency-symbol {
    font-size: 24px;
    margin-right: 2px;
}

.item-show__price .tax-label {
    font-size: 22px;
    margin-left: 8px;
}

.item-show__status{
    display: flex;
    gap: 40px;
    margin-bottom: 14px;
    padding-left: 30px;
}

.status-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.icon-btn{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.status-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.status-count {
    margin-top: 4px;
    font-weight: 500;
}

.purchase-btn {
    width: 100%
}

.item-show__section,
.item-show__comments {
    margin-bottom: 40px;
}

.section-title,
.section-title__comment {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 20px 0 20px 0;
}

.item-description p {
    font-size: 15px;
}

.item-detail__section{
    padding: 5px 0;
}

.info-group {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 10px 0;
}

.info-label {
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    flex-shrink: 0;
}

.category-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background-color: #D3D3D3;
    border-radius: 20px;
    padding: 4px 14px;
    font-size: 15px;
}

.info-value {
    font-size: 15px;
}

.comment-item {
    margin-bottom: 24px;
}

.comment-user {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
    font-weight: bold;
}

.user-icon {
    background-color: #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.user-name,
.form-title label{
    font-size: 18px;
    font-weight: bold;
}

.form-title{
    margin-bottom: 2px;
}

.comment-body {
    background-color: #D3D3D3;
    border-radius: 2px;
    min-width: 60%;
    max-width: 100%;
    font-size: 14px;
    padding: 14px 10px;
    box-sizing: border-box;
}

.form-textarea{
    border-radius: 2px;
    padding: 8px 10px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
}

.comment-post_btn {
    width: 100%;
}
