.register-form {
    max-width: 450px;
    margin: 60px auto;
}

.register-form__heading {
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    margin-bottom: 25px;
}

.register-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.register-form__label {
    font-size: 16px;
    font-weight: bold;
}

.register-form__input {
    min-height: 40px;
    padding: 0 10px;
}

.register-form__btn {
    width: 100%;
}

.register-form__login-item{
    text-align: center;
    padding: 15px;
}

.register-form__link {
    color: #2084D3;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}