.l-container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  gap: 20px;
  width: 100%;
}

.header {
  background-color: #000000;
  width: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

.header__logo img {
  height: 25px;
  width: auto;
  display: block;
}

.header_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  height: 60px;
}

.header__search-form {
  flex-grow: 1;
  margin: 0 60px;
}

.header__search-input{
  height: 40px;
  border-radius: 3px;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  border: none;
}

.header__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
  align-items: center;
  gap: 35px;
  flex-shrink: 0;
}

.header_logout-btn {
  background: none;
  border: none;
  padding: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.header__sell-btn {
  background-color: #fff;
  color: #000000;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}

.btn {
  display: block;
  text-align: center;
  padding: 8px 32px;
  margin-top: 40px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  background-color: #FF5555;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
  padding: 0 5px;
  margin-top: 4px;
}

@media screen and (max-width: 768px) {

  .header__inner {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
    gap: 15px;
  }

  .header_nav {
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 15px;
  }

  .header__search-form {
    margin: 0;
    width: 100%;
  }

  .header__menu {
    height: auto;
    gap: 20px;
    width: 100%;
    justify-content: center;
  }
}
